        
            <nav>
                    <h5>Current Account
                        <small id="currentAcntDisplayID" class="text-muted">0x10101010</small>
                    </h5>
            <form>
                <button id="updateLandsButtonID" type="submit">Update</button>
            </form>
        </nav>              
       
        <div id="contentPanel" style="background-color:beige;height:200px;overflow-y: scroll;">
			<br></br></div>