<br>
	<form action="#">
		<div><label><strong>Place:</strong>	</label>
			<input type="text"  id="newLocationID"></input>
		</div>
		<div>
			<label><strong>Price:</strong></label>
			<input type="number"  id="newCostID"></input>
    </div>
		<button id='addLandButtonID' type="button">Add Land</button>
		<br></br>
	</form>
	<br></br>
	<form action="#">
				<div><label><strong>Buyer's Account:</strong></label>
					<input type="text" id="buyerAccountID"></input>  </div>
				<div>
					<strong>Choose Land ID:</strong>
					<input type="text" id="selectLandID"></input>
				</div>
				<button id='transferLandButtonID' type="button">Transfer Property</button>
			</form>
	<br> </br>                         
 